[Desktop Entry]
Name=Wire
Type=Application
Icon=wire.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=white
X-Ubuntu-Supported-Orientations=landscape
X-Ubuntu-Splash-Image=splash.png



